.root {
  display: flex;
  font-size: 13px;
  border: 1px solid #CCD0D5;
  border-radius: 24px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px 5px;
  gap: 4px;
  margin-left: auto;
  width: fit-content;
  margin-top: .25rem;
  & > * {
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  &:hover {
    text-decoration: none;
  }
  & span {
    color: #1C1E21;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  & img {
    width: 100%;
  }

  
}