@import "../.styles/index.scss";

.blogPageRoot {
  @include standardLayout
}

.header {
  text-align: center;
  padding-top: 10em;
}
.header h1 {
  font-weight: normal;
  font-size: 3em;
  margin-bottom: 4rem;
}
.header p {
  font-size: 1em;
  font-style: italic;
  line-height: 1.5;
  font-family: 'CMU-Serif', Georgia, 'Times New Roman', Times, serif;
}
