:root {
  --dashboard-border-color: var(--ifm-color-emphasis-300);
  --dashboard-aspect-ratio: 16/13;
  --dashboard-border-radius: 0.5em;
}

.DuneDashboard{
  display: flex;
  flex-direction: column;
  margin: 1.5em 0.4em;
  background-color: var(--dashboard-border-color);
  border: 1px solid var(--dashboard-border-color);
  border-radius: var(--dashboard-border-radius);
}

.DuneDashboard > iframe {
  aspect-ratio: var(--aspect-ratio, var(--dashboard-aspect-ratio));
  border-radius: var(--dashboard-border-radius);
}

.DuneDashboard > span {
  padding: 0.3em 0.7em;
  font-size: small;
}
