:root {
  --dashboard-border-color: var(--ifm-color-emphasis-200);
  --dashboard-aspect-ratio: 16/13;
  --dashboard-container-padding: 0.2rem;
  --dashboard-border-radius: 5px;
  --dashboard-border-width: 1px;
  --dashboard-iframe-radius: calc(var(--dashboard-border-radius) - var(--dashboard-border-width))
}

.DuneDashboard{
  display: flex;
  flex-direction: column;
  margin: 1.5em 0.4em;
  overflow: hidden;

  background-color: var(--dashboard-border-color);
  border: var(--dashboard-border-width) solid var(--dashboard-border-color);
  border-radius: var(--dashboard-border-radius);
}

.DuneDashboard > iframe {
  aspect-ratio: var(--aspect-ratio, var(--dashboard-aspect-ratio));
  border-radius: var(--dashboard-iframe-radius);
}

.DuneDashboard > .labels {
  padding: 0.3em 0.7em;
  font-size: 1rem;
  opacity: .8;
}

.DuneDashboard > .labels p:last-child {
  margin-bottom: 0.1em;
}
