.containerRoot {
  position: relative;
}


.TOC {
  position: fixed;
  right: 0px;
  width: calc(90vw / 6) !important;
  max-width: unset !important;
  background-color: var(--ifm-background-surface-color);
  margin-top: -1rem;
}

