.containerRoot {
  position: relative;
}


.TOC {
  position: fixed;
  right: 10px;
  width: calc(100vw / 6) !important;
  max-width: unset !important;
  background-color: var(--ifm-background-surface-color);
}

