@import "./variables.scss";

@mixin standardLayout {
  padding: 0;
  margin: 0 auto;
  background-color: var(--ifm-background-surface-color);
}


@mixin standardBackground {
    background-color: var(--ifm-background-surface-color);
}
