@import "./variables.scss";

@mixin standardLayout {
  max-width: $desktop-max-width;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
  @media screen and (max-width: $desktop-max-width) {
    width: 95vw;
    max-width: 670px;
  }
  background-color: var(--ifm-background-surface-color);
}


@mixin standardBackground {
    background-color: var(--ifm-background-color);
}
