@use 'sass:math';
$desktop-max-width: 80em;

// random bg seed: 2192
$transparent: rgba(255, 255, 255, 0);
$x: 5;
$color-2: rgba(230, 230, 230, 0.1);
$color-3: rgba(180, 180, 180, 0.1);
$color-4: rgba(100, 100, 100, 0.1);
$color-1: rgba(50, 50, 50, 0.1);

HTML {
  height: 100%;
}

BODY {
  //font: 16px/2 'Trebuchet MS', Verdana, sans-serif;
  // font-family: var(--ifm-font-family-base);
  //max-width: 70vw !important;
  min-height: 100%;
}

header {
    text-align: justify;
    margin-bottom: 2rem !important;
    margin-top  : 2rem !important;
    font-size: 1.5em !important;
}

article {
    padding-bottom: 4em !important;
}

main {
    font-size: 1.15em !important;
    padding-left: 4vw !important;
    padding-right: 4vw !important;
}
 
.layoutDefaults_src-theme-Layout-styles-module {
    margin-top: -50px;
}


