/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
/* You can override the default Infima variables here. */
 @font-face {
  font-family: CMU-Serif;
  src: url('/static/fonts/cmunbx.ttf') format('truetype');
  style: normal;
  weight: 700; 
  stretch: 100;
}
@font-face {
  font-family: CMU-Serif;
  src: url('/static/fonts/cmunti.ttf') format('truetype');
  style: italic;
  weight: 400; 
  stretch: 100;
}
@font-face {
  font-family: CMU-Serif;
  src: url('/static/fonts/cmunrm.ttf') format('truetype');
  style: normal;
  weight: 700; 
  stretch: 100;
}

:root {
  // Default
  // --ifm-color-primary: #25c2a0;
  // --ifm-color-primary-dark: rgb(33, 175, 144);
  // --ifm-color-primary-darker: rgb(31, 165, 136);
  // --ifm-color-primary-darkest: rgb(26, 136, 112);
  // --ifm-color-primary-light: rgb(70, 203, 174);
  // --ifm-color-primary-lighter: rgb(102, 212, 189);
  // --ifm-color-primary-lightest: rgb(146, 224, 208);
  // --ifm-code-font-size: 95%;
  --ifm-font-size-base: 0.9em;

  --ifm-container-width-xl: 780px;

  // Flashbots Blue: 
  --ifm-color-primary: #3333ff;
  --ifm-color-primary-dark: #229402;
  --ifm-color-primary-darker: #118391;
  --ifm-color-primary-darkest: #007280;
  --ifm-color-primary-light: #4416B4;
  --ifm-color-primary-lighter: #5527C5;
  --ifm-color-primary-lightest: #6638D6;

  // Red
  // --ifm-color-primary: #f03917;
  // --ifm-color-primary-dark: #de2f0e;
  // --ifm-color-primary-darker: #d22c0e;
  // --ifm-color-primary-darkest: #ad250b;
  // --ifm-color-primary-light: #f24e30;
  // --ifm-color-primary-lighter: #f2593c;
  // --ifm-color-primary-lightest: #f57861;

  // Yellow
  // --ifm-color-primary: #ffc93a;
  // --ifm-color-primary-dark: #ffc01b;
  // --ifm-color-primary-darker: #ffbc0b;
  // --ifm-color-primary-darkest: #db9f00;
  // --ifm-color-primary-light: #ffd259;
  // --ifm-color-primary-lighter: #ffd669;
  // --ifm-color-primary-lightest: #ffe398;
}
html[data-theme='dark'] {
  --ifm-color-primary: #808aff;
  --ifm-background-surface-color: #1a1b1b;
  //--ifm-color-primary: #ffc93a;
  //--ifm-color-primary-dark: #ffc01b;
  //--ifm-color-primary-darker: #ffbc0b;
  //--ifm-color-primary-darkest: #db9f00;
  //--ifm-color-primary-light: #ffd259;
  //--ifm-color-primary-lighter: #ffd669;
  //--ifm-color-primary-lightest: #ffe398;
  /* any other colors you wish to overwrite */
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}


html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'CMU-Serif', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  text-align: center;
}

.markdown > h2 {
  margin: 6rem auto 4rem;
}
.markdown > h3 {
  margin: 4rem auto 2rem;
}

// Align writings' hero with website's hero
.margin-top--md,
.margin-vert--md {
  margin-top: 2.75rem!important;
}

// Footer
.footer {
  background-color: transparent;
  font-family: 'CMU-Serif', Georgia, 'Times New Roman', Times, serif;
  padding: 1rem;
  &__items {
    justify-content: center;
  }
  &__links {
    padding: 6rem 0 4rem;
  }
  &__link-item {
    color: var(--ifm-link-color);
    line-height: 1.75;
    font-size: 1.1rem;
  }
  &__item {
    display: flex;
  }
  // Add dash between links
  &__item::after {
    content: "-";
    color: var(--ifm-color-content);
    padding: 0 .5rem;
  }
  // Hide last dash
  &__item:last-child::after {
    content: "";
  }
}

// Fix katex math equation overflowing text width
.katex-display {
  overflow-x: scroll;
}

.pagination-nav__item {
  cursor: pointer;
}

.container {
  max-width: var(--ifm-container-width-xl);
  width: 88vw;
}
