name: PR Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '16.14'
      - name: Test Build
        env:
          REACT_APP_TARGET_URL: "https://writings.flashbots.net/"
          REACT_APP_BASE_URL: "/"
        run: |
          yarn install --frozen-lockfile
          yarn build
      - name: Check for broken links
        run: |
          cd build
          npm install -g linkinator
          linkinator "**/*.html" --recurse --timeout 3000 --concurrency 10 --retry -s 'https://hackmd.io/_uploads.*','https://www.linkedin.com.*','https://dune.com/.*','http://relay.flashbots.net/','https://pdaian.com.*','https://www.microsoft.com/en-us/research/publication/forerunner-constraint-based-speculative-transaction-execution-for-ethereum/','https://.*etherscan.io/.*','https://twitter.com.*','https://.*imgur.com.*','https://mybinder.org/v2/gh.*'
